!.vscode
# misc
.DS_Store
*.pem
.history
.next
.idea
.now
node_modules
report.*.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# vercel
.vercel

# next.js
/.next/
/out/

# tests
coverage

# test report
dockerReports
cypress/reports/*
